#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-dev.xcconfig"
#include "Generated.xcconfig"
#include "Base.xcconfig"
#include "Custom.xcconfig"

ASSET_PREFIX=dev
BUNDLE_NAME=EDP Omi
BUNDLE_DISPLAY_NAME=EDP Omi
APP_BUNDLE_IDENTIFIER=com.edprealty.omi
GOOGLE_REVERSE_CLIENT_ID=com.googleusercontent.apps.1031333818730-dusn243nct6i5rgfpfkj5mchuj1qnmde
APP_DEVELOPMENT_TEAM=XDASYFW6RH
